.popup{
    position: fixed;
    margin-top: 30px;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    vertical-align: middle;
}

.wrapper {
    margin-top: 30px;
}

.popup-inner-window{
    margin-top: -30px;
}

.popup-inner-window .close-btn{
    top: 34px;
    right: 100px;
}

.random-number {
    color: transparent;
    margin-top: -100px;
}