.popup{
    position: fixed;
    top: 0; 
    left: 27%;
    width: 100%;
    background-color: transparent;
    margin-left: -50px;

}

.popup-inner-window{
    position: fixed;
    padding: 32px;
    width: 100%;

}

.popup-inner-window .close-btn{
    position: absolute;
    top: 34px;
    right: 100px;

}

.random-number {
    color: transparent;
}