.title-group {
    text-align: center;
    inline-size: min-content;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: -20px;
}

.title-t {
    text-transform: uppercase;
    font-size: 3em;
    margin-bottom: -8px;
    font-weight: 800;
}

.title-d {
    text-transform: uppercase;
    font-size: .92em;
    margin-top: 0;
    margin-bottom: 5px;
}

.rect-i {
    background: #e6c7ff;
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    vertical-align: middle;
    display: flex;
    border-radius: 10px;
    padding-left: 30px;
    padding-right: 30px;
    height: 60px;
}

.title-i {
    font-size: 0.83em;
    font-weight: 500;
    line-height: 15px;
}

.grid {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
}

/**.sign-in-btn {
    grid-column: 4 / 5;
    display: inline-block;
    float: right;
}*/

.sign-in-btn, .sign-out-btn{
    position: absolute;
    margin-top: 10px;
    margin-right: 10px;
    top: 0;
    right: 0;

}
.top-container {
    display: inline-block;
}

.sign-in-confirmation{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}