.title-group {
    text-align: center;
    display: flex;
    margin-left: 20px;
    margin-top: 20px;
}

.title-t {
    text-transform: uppercase;
    font-size: 2.1em;
    font-weight: 800;
    margin-top: -10px;
}

.title-d {
    text-transform: uppercase;
    font-size: .92em;
    line-height: 15px;
}

.rect-i {
    background: #e6c7ff;
    margin-left: 15px;
    align-items: center;
    vertical-align: middle;
    display: flex;
    border-radius: 5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 35px;
    width: 300px;
}

.title-i {
    font-size: 0.8em;
    font-weight: 500;
    line-height: 15px;
}

/* .grid {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 20px;
} */

.canvas {
    margin: auto;
    width: 100%;
}

/**.sign-in-btn {
    grid-column: 4 / 5;
    display: inline-block;
    float: right;
}*/

.sign-in-btn, .sign-out-btn{
    position: absolute;
    margin-top: 20px;
    margin-right: 20px;
    top: 0;
    right: 0;
    display: flex;
}

.top-container {
    display: inline-block;
}

.sign-in-confirmation{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}

.pfp {
    width: 30px;
    height: 30px;
    margin-left: 5px;
    border-radius: 5px;
}